.container {
    /* position: relative; */
}

.image {
    display: block;
    width: 800px;
    height: auto;
    margin: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  /* Original was 0*/
  opacity: 1;
  transition: .5s ease;
  /* background-color: #008CBA; */
}

.container:hover .overlay {
  opacity: ;
}

.image:hover{
    opacity: .5;
}



.image:hover .overlay1
{
    left: 0%;
    opacity:.5;
}
.image:hover img{
    transform:scale(1.2);
}

.text {
  color: black;
  background-color: pink;
  width: 400px;
  height: ;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: -245px;
  transition: .5s;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}