/* Extra small devices (portrait phones, less than 576px) 
    Iphone 6
*/
@media (max-width: 575px) { 
    .container{
        width: 100% !important;
    }
    .image{
        max-width: 100% !important;
        height: auto !important;
    }
    .position_right{
        max-width: 100% !important;
        position: inline !important;
    }
    .position_left{
        max-width: 100% !important;
        position: block !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .container{
        width: 100% !important;
    }
    .image{
        max-width: 100% !important;
        height: auto !important;
    }
    .position_right{
        max-width: 100% !important;
        position: inline !important;
    }
    .position_left{
        max-width: 100% !important;
        position: block !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .container{
        width: 100% !important;
    }
    .image{
        max-width: 100% !important;
        height: auto !important;
    }
    .position_right{
        max-width: 100% !important;
        position: inline !important;
    }
    .position_left{
        max-width: 100% !important;
        position: block !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    .container{
        width: 100% !important;
    }
    .image{
        max-width: 100% !important;
        height: auto !important;
    }
    .position_right{
        max-width: 100% !important;
        position: inline !important;
    }
    .position_left{
        max-width: 100% !important;
        position: block !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        width: 100% !important;
    }
    .image{
        max-width: 100% !important;
        height: auto !important;
    }
    .position_right{
        max-width: 100% !important;
        position: inline !important;
    }
    .position_left{
        max-width: 100% !important;
        position: block !important;
    }
}